.mainWrapper {
    text-align: center
}
h2 {
    background-color: red;
    color: white;
    padding: 1rem 0;
    margin: 2rem 0;;
}

h2:first-child {
    margin: 0
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding: 3rem 0;
    margin: 0 auto;
}

.sugerencias {
    padding: 1rem 0.5rem;
    margin-bottom: 4rem;
    color: white;
    background: blue;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
}